<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="2dScannerHostname" value="localhost"/>
		<add key="2dScannerPort" value="8000"/>
		<add key="ImportDrive" value="F:"/>
		<add key="ImportFolder" value="MavericExport"/>
		<add key="StateFolder" value="statefolder"/>
		<add key="StateFile" value="state.xml"/>
		<add key="ExportDrive" value="F:"></add>
		<add key="ExportFolder" value="MavericFIMExport"/>
		<add key="BackupFolder" value="MavericFIMBackup"/>
		<add key="ProccessedFolder" value="ProccessedByFIM"/>
		<add key="Include_CVSHeader" value="true"/>
		<add key="Header_CVSFile"
				value="SampleDate,BankID,StudyID,AliquotType,AliquotID,InitialAmount,CurrentAmount,NumberOfThaws,LFHMDate,LFHMTime,LFHMOperatorID,LFHMHostname,BoxID,Row,Column,FIMDate,FIMTime,FIMOperatorID,FIMHostname"/>
		<add key="ErrorLog" value="FIM_error_log.txt"/>
		<add key="ErrorLogHeader" value="BoxID,StudyID,Date,Time,OperatorID,Hostname,ErrorDetails"/>

		<add key="ScannerSleep" value="2000"/>
		<add key="ExpectedTubes" value="96"/>

		<add key="PrepareScan" value="Preparing to scan..."/>
		<add key="RackNotPresent" value="Rack not present..."/>
		<add key="Scanning" value="Scanning..."/>
		<add key="WaitingForResults" value="Waiting for results..."/>
		<add key="FatalError" value="Fatal Error, please restart application"/>

	</appSettings>
</configuration>